.top-nav-bar {
    background-color: #2F2F2F;
    overflow: hidden;
    padding: 10px;
    width: 55%;
    margin: auto;
}

.top-nav-bar a {
    text-align: center;
    color: #C0C0C0;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}

.top-nav-bar a:hover {
    background-color: rgb(252, 252, 252);
}

.top-nav-bar a.active {
    background-color:#656363;
}

.contact-content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 18px;
}

.contact-content img {
    padding-right: 20px;
}

.socials-panel img{
    padding-right: 10px;
}

.socials-panel a{
    padding: 20px;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
