@media only screen and (min-width: 1025px) {

    .top-nav-bar {
        background-color: #2F2F2F;
        overflow: hidden;
        padding: 10px;
        width: 70%;
        min-width: 600px;
        margin: auto;
    }

    .top-nav-bar a {
        text-align: center;
        color: #fefefe;
        text-align: center;
        padding: 40px;
        text-decoration: none;
        font-size: 18px;
        font-family: Verdana, sans-serif;
    }

    .top-nav-bar a:hover {
        background-color: rgb(58, 58, 58);
    }


    body {
        width: 75%;
        min-width: 600px;
        margin: auto;
    }
    

    .contact-grid-wrapper{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 35% 35% 30%;
        
    }

    .contact-content{
        font-size: 18px;
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: justify;
        padding: 20px;
        border-radius: 5px;
        background-color: #2F2F2F;    
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .socials-panel{
        grid-column: 3;
        grid-row: 1/2;
        
        padding: 10px;
        border-radius: 5px;
        background-color: #2F2F2F;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .socials-panel p{
        text-align: left;
    }

    .contact-content img {
        padding-right: 20px;
        float: left;
    }

}

@media only screen and (max-width: 1024px) {

    .top-nav-bar {
        background-color: #2F2F2F;
        overflow: hidden;
        width: 100%;
        margin: auto;
    }

    .top-nav-bar a {
        text-align: center;
        color: #fefefe;
        padding: 15px;
        float: left;
        text-decoration: none;
        font-size: 18px;
        font-family: Verdana, sans-serif;
    }

    body {
        width: 100%;
        margin: auto;
    }

    .contact-grid-wrapper{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 35% 35% 30%;
        
    }

    #home-picture{
        width:100%;
        height: fit-content;
    }
    
    .socials-panel{
        grid-column: 3;
        grid-row: 1/2;
        
        padding: 10px;
        border-radius: 5px;
        background-color: #2F2F2F;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .socials-panel p{
        text-align: left;
    }

    
    .contact-content{
        font-size: 18px;
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: justify;
        padding: 20px;
        border-radius: 5px;
        background-color: #2F2F2F;    
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .contact-content img{
        display: block;
        margin: auto;
    }
}


.top-nav-bar a.active {
    background-color:#656363;
}


.socials-panel img{
    padding-right: 10px;
}

.socials-panel a{
    padding: 20px;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

* {box-sizing:border-box;}

.form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

.input-container{
    padding: 16px;
    /*background-color: white;*/
}

input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}

hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn:hover{
    opacity: 1;
}

a{
    color: dodgerblue;
}

button a{
    color:#2F2F2F;
}

.signin{
    background-color: #f1f1f1;
    text-align: center;
}
